^ContentPage {
    background-color: #121212;
    padding: 20;
}

^Shell {
    -Maui-Shell-TitleColor: White;
    -Maui-Shell-Background: #1E1E1E;
}



^Picker {
    height: 80;
    font-size: 16;
    background-color: #FFFFFF;
    color: #000000;
    padding: 15;
}

    ^Picker .ClassPicker {
        color: #1976D2;
        font-weight: bold;
    }

#ResultLabel {
    color: #2962FF;
    font-size: 20;
    text-align: center;
    margin: 20 0;
    padding: 15;
    background-color: #1E1E1E;
    border-radius: 8;
}
